<main>
  <section class="with-image above-the-fold" style="background-image: url('<%= config.header_image %>');">  
  </section>
  <% site.categories.each(function(cat){ %>
    <% var posts = cat.posts.sort('date', -1).limit(2).data %>
    <% if(posts) { %>
    <div class="section-header">
      <h2 id="<%= cat.name %>"><%= cat.name %></h2>
    </div>
    <section class="with-image" style="background-image: url('<%= posts[0].image %>');">
      <div class="container">
        <div class="content">
          <%- posts[0].content %>
          <% if(posts.length > 1) { %>
          <a href="<%- url_for(posts[1].path) %>">more</a>
          <% } %>
        </div>
      </div>
    </section>
  <% }}) %>
</main>