<html>
<head>
	<meta charset="UTF-8">
	<!-- Use <%= page.title %> for dynamic title -->
	<title><%= config.title %></title>
	<%- css(['https://fonts.googleapis.com/css?family=Lato|Quicksand:300|Ubuntu+Mono', 'css/style']) %>

</head>
<body>

	<%- partial('_partial/header', null, {cache: !config.relative_link}) %>

	<%- body %>
	
	<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
	<% if(is_home()) { %>
		<%- js(['https://code.jquery.com/jquery-3.1.1.min.js', 'js/parallax', 'js/main']) %>
	<% } %>
</body>
</html>